apiVersion: 1

deleteDatasources:
  - name: ClickHouse
    orgId: 1

datasources:
  - name: ClickHouse
    uid: clickhouse-aws-radar
    type: grafana-clickhouse-datasource
    access: proxy
    orgId: 1
    isDefault: true
    editable: true
    jsonData:
      defaultDatabase: aws_radar
      host: clickhouse
      port: 8123
      protocol: http
      username: default
